.bg-header {
    background: #000957;
}
.bg-blue {
    background: #516beb;
}
.bg-teal {
    background: #c89595;
}
.bg-red {
    background: #ff6d6d;
}
.logo {
    font-size: 1.5em;
}
.no-margin {
    margin: 0;
}
.grid-container {
    width: 75vw;
    padding: 1em;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1em;
}
.grid-cell {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 15px;
    background: white;
    color: #444;
}
